body{
	font-family: 'Cormorant', serif;
	font-size: 14px;
	color: #000;
	min-width: 320px;
	background-color: white;
}

header {
}

.header-block {
	margin-top: 130px;
	margin-left: 100px;
}
	
.navbar-brand-img {
	margin-top: -10px;
	margin-left: 90px;
	width: 30px;
	height: 30px;
}

nav.navbar.navbar-default.navbar-fixed-top.container-fluid {
		background-image: -moz-linear-gradient( 135deg, rgb(255,132,0) 0%, rgb(251,61,60) 100%);
		background-image: -webkit-linear-gradient( 135deg, rgb(255,132,0) 0%, rgb(251,61,60) 100%);
		background-image: -ms-linear-gradient( 135deg, rgb(255,132,0) 0%, rgb(251,61,60) 100%);
		opacity: 0.851;
		z-index: 1;

	  }

ul.nav.navbar-nav.navbar-right li a {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
}

.navbar-right {
	margin-right: 250px;
}

.left-herder {
	color: white;
	font-family: 'Roboto', 'sans-serif';
	margin-bottom: 50px;
}

.left-text {
	color: white;
	font-size: 12px;
	font-family: 'Roboto', 'sans-serif';

}

nav.navbar.navbar-default.navbar-fixed-top.container-fluid button.btn.btn-default.navbar-btn {
	background-color: transparent;
	padding: 10px 25px;
	color: white;
	margin-top: 50px;
	margin-bottom: 130px;
}

.iphone-img {
	height: 427px;
	width: 220px;
	margin-bottom: 30px;
	margin-top: -50px;
}

.how-it-works-block {
	display: block;
}

  
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

	.left-herder {
		color: white;
		font-family: 'Roboto', 'sans-serif';
		margin-bottom: 10px;
	}

	nav.navbar.navbar-default.navbar-fixed-top.container-fluid button.btn.btn-default.navbar-btn {
		background-color: transparent;
		padding: 10px 25px;
		color: white;
		margin-top: 20px;
		margin-left: 70px;
	}

	.header-block {
		margin-top: 30px;
		margin-left: -10px;
		margin-bottom: 10px;
	}

	.iphone-img {
		height: 227px;
		width: 120px;
		margin-bottom: 30px;
		margin-left: 0;
		margin-top: -100px;
	}

	.navbar-brand-img {
		margin-top: -10px;
		margin-left: -10px;
		width: 30px;
		height: 30px;
	}
	  
}



@media only screen and (max-width : 1200px) {
	
	}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}
@media only screen and (max-width : 767px) {
	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	
}